<h1>Welcome to the Sample Data Populator!</h1>
<p>Click the button below to load sample data into your BigCommerce store.</p>
<%= link_to 'Load Sample Data', '/products/index', class: 'btn btn-primary' %>